<section class="site-structure">
  <div class="pages">
    <div class="pages__add_button">
      <button
          @click.prevent="onAddPage()"
      >
        Add page
      </button>
    </div>
    <div class="page" v-for="(page, index) in siteStructure.pages">
      <PageItem
          :page="page"
          :onSelected="onSelected"
          :components="siteStructure.components"
      ></PageItem>
      <div class="page__components">
        <div
            class="page__component"
            v-if="!component.empty"
            v-for="(component, index) in getPageComponents(page.components)"
        >
          <input type="text" v-model="component.name" autofocus>
        </div>
      </div>
    </div>
  </div>
  <a
      href="structure.json"
      ref="download_link"
      @click="onDownload"
  >
    Download structure.json
  </a>
  <pre>
    {{ siteStructure }}
  </pre>
</section>
